<div class="max-w-3xl mx-auto">
  <div class="flex flex-wrap items-center">
    <div class="w-full hidden md:block md:w-1/4 self-middle">
      <div class="bg-blue-dark text-center py-4 pl-2 mt-32">
        <div class="bg-white px-4 py-8 flex flex-col items-between">
          <div class="mb-8 mt-2">
            <div class="text-3xl text-blue-dark font-bold leading-none">
              Kosten
            </div>
            <div class="text-xl font-medium">Maandelijks en eenmalig</div>
            <div class="font-medium"></div>
          </div>
          <div class="mb-12">
            <br>
            <ul class="border-t-2 border-blue-dark list-none">
              <li class="border-b-2 border-blue-dark text-2xl font-medium py-6">
                download snelheid*
              </li>
              <li class="border-b-2 border-blue-dark text-2xl font-medium py-6">
                upload snelheid
              </li>
              <li class="border-b-2 border-blue-dark text-2xl font-medium py-6">
                Draytek ACS monitoring**
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/4 mb-4 md:mb-0">
      <div class="bg-blue-dark text-center py-4 px-2 md:pl-2">
        <div class="px-4 pt-4">
          <div
            class="border-2 border-white text-center px-4 py-1 text-white text-3xl font-medium mb-6"
          >
            ADSL
          </div>
          <img
            class="w-24 mx-auto opacity-50"
            src="/images/callvoip-circle.svg"
            alt=""
          />
        </div>
        <div class="bg-white px-4 py-8 flex flex-col items-between">
          <img
            class="w-24 mx-auto -mt-8 relative"
            src="/images/callvoip-ruit-dark.svg"
            alt=""
            style="top: -1px;"
          />
          <div class="mb-8 mt-2">
            <div class="text-3xl text-blue-dark font-bold leading-none">
              25,-
            </div>
            <div class="text-xl font-medium">Per maand</div>
            <div class="font-medium">Eenmalig 50,-</div>
          </div>

          <div class="mb-12">
            <ul class="border-t-2 border-blue-dark list-none">
              <li
                class="border-b-2 border-blue-dark text-2xl font-medium py-6 relative"
              >
                20 Mbps
                <div
                  class="w-6 h-6 -ml-3 -mt-3 rounded-full bg-blue-dark absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
              <li
                class="border-b-2 border-blue-dark text-2xl font-medium py-6 relative"
              >
                1 Mbps
                <div
                  class="w-6 h-6 -ml-3 -mt-6 rounded-full bg-blue-dark absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
              <li
                class="border-b-2 border-blue-dark text-2xl font-medium py-6 relative"
              >
                3 maanden gratis
                <div
                  class="w-6 h-6 -ml-3 -mt-6 rounded-full bg-blue-dark absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
                <div
                  class="w-6 h-6 -ml-3 -mb-3 rounded-full bg-blue-dark absolute bottom-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
            </ul>
          </div>
          <a
            href="https://files.callvoip.nl/downloads/callvoip-adsl-vdsl_aanvraagformulier.pdf" target="_blank"
            class="bg-blue-dark hover:bg-blue text-white text-center px-4 py-4 text-lg w-full font-medium"
            >ADSL aanvragen</a
          >
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/4 relative z-10 mb-4 md:mb-0">
      <div class="bg-blue text-center py-4 px-2 shadow-xl">
        <div class="px-4 pt-4 relative">
          <div
            class="border-2 border-white text-center px-4 py-1 text-white text-3xl font-medium mb-6"
          >
            VDSL
          </div>
          <div
            class="font-medium text-2xl md:text-base lg:text-lg xl:text-2xl text-white absolute right-0 mr-2 -mt-2"
            style="transform: rotate(-30deg);">
          </div>
          <img
            class="w-24 mx-auto opacity-100"
            src="/images/callvoip-circle.svg"
            alt=""
          />
        </div>
        <div class="bg-white px-4 py-8 flex flex-col items-between">
          <img
            class="w-24 mx-auto -mt-8 relative"
            src="/images/callvoip-ruit-light.svg"
            alt=""
            style="top: -1px;"
          />
          <div class="mb-8 mt-2">
            <div class="text-3xl text-blue-dark font-bold leading-none">
              29,-
            </div>
            <div class="text-xl font-medium">Per maand</div>
            <div class="font-medium">Eenmalig 50,-</div>
          </div>

          <div class="mb-20">
            <br>
            <ul class="border-t-2 border-blue list-none">
              <li
                class="border-b-2 border-blue text-2xl font-medium py-6 relative"
              >
                50 Mbps
                <div
                  class="w-6 h-6 -ml-3 -mt-3 rounded-full bg-blue absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
              <li
                class="border-b-2 border-blue text-2xl font-medium py-6 relative"
              >
                5 Mbps
                <div
                  class="w-6 h-6 -ml-3 -mt-6 rounded-full bg-blue absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
              <li
                class="border-b-2 border-blue text-2xl font-medium py-6 relative"
              >
                3 maanden gratis
                <div
                  class="w-6 h-6 -ml-3 -mt-6 rounded-full bg-blue absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
                <div
                  class="w-6 h-6 -ml-3 -mb-3 rounded-full bg-blue absolute bottom-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
            </ul>
          </div>
          <a
            href="https://files.callvoip.nl/downloads/callvoip-adsl-vdsl_aanvraagformulier.pdf" target="_blank"
            class="bg-blue hover:bg-blue-dark text-white text-center px-4 py-4 text-lg w-full font-medium"
            >VDSL aanvragen</a
          >
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/4 mb-4 md:mb-0">
      <div class="bg-blue-dark text-center py-4 px-2 md:pr-2">
        <div class="px-4 pt-4">
          <div
            class="border-2 border-white text-center px-4 py-1 text-white text-3xl font-medium mb-6"
          >
            VVDSL
          </div>
          <img
            class="w-24 mx-auto opacity-50"
            src="/images/callvoip-circle.svg"
            alt=""
          />
        </div>
        <div class="bg-white px-4 py-8 flex flex-col items-between">
          <img
            class="w-24 mx-auto -mt-8 relative"
            src="/images/callvoip-ruit-dark.svg"
            alt=""
            style="top: -1px;"
          />
          <div class="mb-8 mt-2">
            <div class="text-3xl text-blue-dark font-bold leading-none">
              35,-
            </div>
            <div class="text-xl font-medium">Per maand</div>
            <div class="font-medium">Eenmalig 50,-</div>
          </div>

          <div class="mb-12">
            <ul class="border-t-2 border-blue-dark list-none">
              <li
                class="border-b-2 border-blue-dark text-2xl font-medium py-6 relative"
              >
                120 Mbps
                <div
                  class="w-6 h-6 -ml-3 -mt-3 rounded-full bg-blue-dark absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
              <li
                class="border-b-2 border-blue-dark text-2xl font-medium py-6 relative"
              >
                40 Mbps
                <div
                  class="w-6 h-6 -ml-3 -mt-6 rounded-full bg-blue-dark absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
              <li
                class="border-b-2 border-blue-dark text-2xl font-medium py-6 relative"
              >
                3 maanden gratis
                <div
                  class="w-6 h-6 -ml-3 -mt-6 rounded-full bg-blue-dark absolute top-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
                <div
                  class="w-6 h-6 -ml-3 -mb-3 rounded-full bg-blue-dark absolute bottom-0 left-0 flex items-center justify-center text-white text-sm"
                  style="left: 50%;"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="check"
                    class="svg-inline--fa fa-check fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                    ></path>
                  </svg>
                </div>
              </li>
            </ul>
          </div>
          <a
            href="https://files.callvoip.nl/downloads/callvoip-adsl-vdsl_aanvraagformulier.pdf" target="_blank"
            class="bg-blue-dark hover:bg-blue text-white text-center px-4 py-4 text-lg w-full font-medium"
            >VVDSL aanvragen</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
