    <div class="hidden lg:block   lg:rounded-lg bg-grey-lightest">
        <table class="w-full">
            <colgroup>
                <col class="w-2/5">
                <col class="w-1/5">
                <col class="w-1/5">
                <col class="w-1/5">
            </colgroup>
            <tbody>
            <tr>
                <td class=" border-grey-light bg-blue-dark rounded-tl-lg">
                <span class="font-semibold text-white text-center text-lg leading-tight block"></span>
                </td>
                <td class="border-l border-grey-light bg-blue-dark">
                    <div class="px-5 py-6">
                  <span class="font-semibold text-white text-center text-lg leading-tight block">Los Nummer
                  </span>
                    </div>
                </td>
                <td class="border-l border-grey-light bg-blue-dark">
                    <div class="px-5 py-6">
                        <span class="font-semibold text-white text-center text-lg leading-tight block">10 Blok</span>
                    </div>
                </td>
                <td class="border-l border-grey-light bg-blue-dark">
                    <div class="px-5 py-6">
                  <span class="font-semibold text-white text-center text-lg leading-tight block">100 Blok
                  </span>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="5"
                    class="border-t border-grey-light bg-blue px-5 py-3 uppercase tracking-wide text-xs font-semibold text-white text-left">
                    Kosten per maand
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Regionaal
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">2,- p/mnd
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">20,- p/mnd
                </td>				
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">30,- p/mnd
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Landelijk 085
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    2,- p/mnd
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    20,- p/mnd
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    30,- p/mnd
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Landelijk 088
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    30,- p/mnd
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Servicenummer
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    35,- p/mnd
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
            </tr>
            <tr>
                <td colspan="5"
                    class="border-t border-grey-light bg-blue px-5 py-3 uppercase tracking-wide text-xs font-semibold text-white text-left">
                    Kosten éénmalig
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Regionaal
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">15,- / + € 50 (premium)
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">100,- / + € 100 (premium)
                </td>				
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">100,- / + € 100 (premium)
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Landelijk 085
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    15,- / + € 50 (premium)
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    100,- / + € 100 (premium)
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    100,- / + € 100 (premium)
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Landelijk 088
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    100,- (activatie)
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Servicenummer
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    15,- (activatie)
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
            </tr>
			
			
			
			
			
			
			                <td colspan="5"
                    class="border-t border-grey-light bg-blue px-5 py-3 uppercase tracking-wide text-xs font-semibold text-white text-left">
                    Aanvragen
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Regionaal
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3"><a href="https://www.callvoip.nl/aanvragen/nummer/">Callvoip</a>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3"><a href="https://www.callvoip.nl/aanvragen/nummer/">Callvoip</a>
                </td>				
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3"><a href="https://www.callvoip.nl/aanvragen/nummer/">Callvoip</a>
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Landelijk 085
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <a href="https://www.callvoip.nl/aanvragen/nummer/">Callvoip</a>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <a href="https://www.callvoip.nl/aanvragen/nummer/">Callvoip</a>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <a href="https://www.callvoip.nl/aanvragen/nummer/">Callvoip</a>
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Landelijk 088
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <a href="https://www.acm.nl/nl/onderwerpen/telecommunicatie/telefoonnummers/telefoonnummers-aanvragen/bedrijfsnummerblokken-088/voorbereiden-088-bedrijfsnummerblok-aanvragen">ACM</a> / <a href="https://www.callvoip.nl/aanvragen/088-blok-activatie/">Callvoip</a>
                </td>
            </tr>
            <tr>
                <td class="border-t border-grey-light text-sm sm:text-base px-5 py-5 align-top">Servicenummer
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <a href="https://www.acm.nl/nl/onderwerpen/telecommunicatie/telefoonnummers/nummers-aanvragen-overdragen-en-opzeggen/informatienummers/kies-bewust-welk-informatienummer-u-aanvraagt">ACM</a> / Callvoip <a href="https://www.callvoip.nl/aanvragen/0800-activatie/">0800</a> of <a href="https://www.callvoip.nl/aanvragen/0900-activatie/">0900</a>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
                <td class="border-t border-l  border-grey-light px-4 text-sm text-center py-3">
                    <i class="fal fa-times-circle text-red text-xl"></i>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
