{{ define "main" }}
<article class="mb-8 md:mb-0">
  {{- partial "components/page-hero2.html" . -}}
  {{- partial "components/double-content.html" . -}}
  {{- partial "components/content-blocks2.html" . -}}
  {{- partial "components/page-intro-top.html" . -}}
  {{- partial "components/text-blocks-footer.html" . -}}
  {{- partial "components/textblocksfooter2.html" . -}}
  {{- partial "components/extracontent.html" . -}}
  {{- partial "components/text-blocks2.html" . -}}
  {{- partial "components/usps.html" . -}}
  {{- partial "components/logos2.html" . -}}
  {{- partial "components/prijzen.html" . -}}
  {{- partial "components/white-footer.html" . -}}
  {{- partial "components/page-intro.html" . -}}
  {{- partial "components/bottom.html" . -}}
  {{- partial "components/user-content.html" . -}}
</article>
{{ end }}
