{{ define "main" }}
<article>
  {{ $sec := .Section }}
  {{- partial "components/hero.html" . -}}
  <div class="mb-4">
    <div class="container px-4">
      {{- partial "components/page-introroy.html" . -}}
    </div>
    <div class="mb-8 container">
      <div class="bg-grey-dark mx-auto p-4 md:p-8 rounded-lg">
        <div class="relative">
          <input type="text" class="w-full focus:outline-none bg-white rounded-lg py-2 md:py-4 p-4 relative z-30"
            placeholder="Search for programs" id="search_input">
          <div class="absolute z-30 w-full">
            <ul class="bg-white shadow-lg" id="search_result">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container lg:flex space-y-8 lg:space-y-0 lg:space-x-8">
      {{ $pageVar := . }}
      {{ $cloudinary := .Site.Params.cloudinary_base_url }}
      {{ $paginator := .Paginate .Pages 6 }}
      <aside class="lg:p-4 lg:border-r border-t border-b border-grey-lightest lg:w-56 flex-shrink-0 space-y-6 pb-4">
        <button
          class="flex justify-between w-full items-center lg:hidden border-b lg:border-b border-grey-lightest text-grey py-4"
          type="button" onclick="this.nextElementSibling.classList.toggle('hidden')">
          <span>Kies een categorie</span>
          <svg xmlns="http://www.w3.org/2000/svg" width='18' fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="space-y-6 hidden lg:block">
          <div class="space-y-2">
            <h3 class="text-black"><b>Uitgelicht</b></h3>
            <ul class="space-y-2">
              {{ $topCat := where .Site.Taxonomies.categories ".Page.Section" "program-shop" }}
              {{ range first 3 $topCat.ByCount }}
              <li><button type="button"
                  onclick="document.querySelectorAll('.item-card').forEach(function (e){e.classList.add('hidden');if(e.classList.contains('{{urlize .Page.Title }}')){e.classList.remove('hidden');}});">
                  {{- .Page.Title }}</button></li>
              {{ end }}
            </ul>
          </div>
          <div class="space-y-2">
            <h3 class="text-black"><b>Alle categorieën</b></h3>
            <ul class="space-y-2">
              {{ $t := where .Site.Taxonomies.categories ".Page.Section" "program-shop" }}
              {{ range $t -}}
              <li><button type="button"
                  onclick="document.querySelectorAll('.item-card').forEach(function (e){e.classList.add('hidden');if(e.classList.contains('{{urlize .Page.Title }}')){e.classList.remove('hidden');}});">
                  {{- .Page.Title }}</button></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </aside>
      <div class="md:flex flex-wrap justify-evenly items-start w-full text-center">
        {{ range $i, $item := $paginator.Pages -}}
        {{ $title := .Title }}
        <a href="{{.Permalink}}"
          class="block border border-grey-lightest rounded-md overflow-hidden md:w-64 mb-4 text-grey item-card {{- range $item.Params.categories }} {{urlize .}}{{ end }}{{ if gt $i 20 }} hidden{{ end }}">
          <div class="bg-grey-lightest flex items-center justify-center p-4 h-40 relative">
            {{ with .Params.logo -}}
            <img src="{{ $cloudinary }}/c_scale,f_auto,q_auto{{.}}" class="cld-responsiveb h-12"
              alt="logo of {{$title}}" />
            {{ end -}}
            {{ with .Params.new }}
            <span class="absolute top-0 right-0 bg-green text-white px-1 text-sm">Nieuw</span>
            {{ end }}
          </div>
          <div class="p-4 space-y-2">
            <h3 class="text-lg font-medium text-blue-light">{{.Title}}</h3>
            <p class="text-sm max-w-sm mx-auto px-4 lg:p-0">{{ $item.Description }}</p>
            <p class="text-xs bg-grey-lightest uppercase opacity-75 p-2 py-1 rounded-full inline-block">
              {{- range $item.Params.tags }}
              {{.}} {{ end }}</p>
          </div>
        </a>
        {{ end -}}
      </div>
    </div>
    {{ template "_internal/pagination.html" . -}}
  </div>
</article>
{{ $searchFile := (.OutputFormats.Get "json") }}
<script>
  function Get(yourUrl) {
    var Httpreq = new XMLHttpRequest();
    Httpreq.open("GET", yourUrl, false);
    Httpreq.send(null);
    return Httpreq.responseText;
  }
  function search(source, name) {
    var results = [],
      index,
      entry;

    name = name.toUpperCase();
    for (index = 0; index < source.length; ++index) {
      entry = source[index];
      if (entry && entry.title && entry.title.toUpperCase().indexOf(name) !== -1) {
        results.push(entry);
      }
    }
    return results;
  }

  var json_obj = JSON.parse(Get('{{ $searchFile.Permalink }}'));

  var input = document.getElementById("search_input"),
    rlist = input.nextElementSibling.querySelector('ul');

  input.addEventListener("keyup", function (e) {
    rlist.innerHTML = ''
    if (input.value.length > 0) {
      var result = search(json_obj, input.value);
      result.forEach(e => {
        var newli = document.createElement('li');
        newli.innerHTML = '<a href=\"' + e.url + '\" class="p-4 hover:bg-grey-lightest block capitalize">' + e.title + '</a>';
        rlist.appendChild(newli)
      })
    }
  });
</script>
{{ end }}