{{ define "main" }}
<article>
  {{ $sec := .Section }}
  {{ $cloudinary := .Site.Params.cloudinary_base_url }}
  <div class="mb-4">
    <div class="container lg:mt-8">
      <a href="{{.CurrentSection.Permalink}}" class="p-2 inline-block border my-8">&lt;&lt; Terug
        naar
        overzicht</a>
      <div class="bg-grey-dark mx-auto p-4 md:p-8">
        <div class="relative">
          <input type="text" class="w-full focus:outline-none bg-white rounded-lg py-2 md:py-4 p-4 relative z-30"
            placeholder="Search for programs" id="search_input">
          <div class="absolute z-30 w-full">
            <ul class="bg-white shadow-lg" id="search_result">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container lg:flex space-y-4 lg:space-y-0">
      <div class="w-full space-y-8">
        <header class="bg-grey-lightest lg:flex items-center border border-grey-lightest">
          <div class="lg:w-64 p-8 flex flex-col items-center justify-center lg:border- border-blue-light space-y-8">
            <img src="{{ $cloudinary }}/c_scale,f_auto,q_auto{{.Params.logo}}" class="cld-responsiveb max-w-xs"
              alt="logo of {{.Title}}" />
            <p class="text-xs bg-white uppercase p-2 rounded-full text-center w-full max-w-xs">
              {{- range .Params.tags }}
              <a href="/tags/{{.}}" class="text-grey-dark">{{.}}</a>
              {{- end }}
            </p>
          </div>
          <div class="space-y-6 lg:p-8 p-4">
            <div class="text-sm space-y-5 text-center lg:text-left">
              <div>
                <h1 class="text-2xl md:text-4xl font-medium leading-none">{{ .Title }}</h1>
                <small class="text-sm leading-loose max-w-screen-sm">{{ .Description }}</small>
              </div>
              <p>
                {{- range .Params.categories }}
                <span class="text-blue-light p-1 px-2 border">{{.}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                {{- end }}
              </p>
            </div>
            <hr class="border-blue-light border-t">
            <div class="md:flex justify-center lg:justify-start md:space-x-16 space-y-4 md:space-y-0 text-grey">
              <div class="space-y-2">
                <span>Ontwikkelaar</span>
                <ul class="text-sm">
                  {{ range .Params.ontwikkelaar -}}
                  <li>
                    <a href="{{.url}}">{{.title}}</a>
                  </li>
                  {{ end }}
                </ul>
              </div>
              <div class="space-y-2">
                <span>Meer info</span>
                <ul class="text-sm">
                  {{ range .Params.meer_info -}}
                  <li>
                    <a href="{{.url}}">{{.title}}</a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </header>
        <div class="user-content text-grey-medium lg:text-lg font-medium leading-loose lg:p-4 max-w-screen-md">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</article>
{{ $searchFile := (.CurrentSection.OutputFormats.Get "json") }}
<script>
  function Get(yourUrl) {
    var Httpreq = new XMLHttpRequest();
    Httpreq.open("GET", yourUrl, false);
    Httpreq.send(null);
    return Httpreq.responseText;
  }
  function search(source, name) {
    var results = [],
      index,
      entry;

    name = name.toUpperCase();
    for (index = 0; index < source.length; ++index) {
      entry = source[index];
      if (entry && entry.title && entry.title.toUpperCase().indexOf(name) !== -1) {
        results.push(entry);
      }
    }
    return results;
  }

  var json_obj = JSON.parse(Get('{{$searchFile.Permalink }}'));

  var input = document.getElementById("search_input"),
    rlist = input.nextElementSibling.querySelector('ul');

  input.addEventListener("keyup", function (e) {
    rlist.innerHTML = ''
    if (input.value.length > 0) {
      var result = search(json_obj, input.value);
      result.forEach(e => {
        var newli = document.createElement('li');
        newli.innerHTML = '<a href=\"' + e.url + '\" class="p-4 hover:bg-grey-lightest block capitalize">' + e.title + '</a>';
        rlist.appendChild(newli)
      })
    }
  });
</script>
{{ end }}