{{ define "main" }}
<article>
  {{ $sec := .Section }}
  {{- partial "components/hero.html" . -}}
  <div class="flex flex-col-reverse md:flex-col">
    <div class="container px-4">
      {{- partial "components/page-introroy.html" . -}}
    </div>
    <div class="mx-4 mb-8">
      <div class="bg-grey-dark mx-auto p-4 py-8 md:px-8 rounded-lg">
        <ul class="text-white flex-wrap flex mb-4">
          <li class="w-full"><b>Zoek op uw branche, bijvoorbeeld:</b></li><br>
          {{ range $i,$d := .Params.selected_tags }}
          {{ if not (eq $i 0) -}}
          , &nbsp;
          {{ end -}}
          <li><a href="/reviews/{{.}}" class="text-white">{{humanize .}}</a></li>
          {{ end }}
        </ul>
        <div class="relative">
          <input type="text" class="w-full focus:outline-none bg-white rounded-lg p-4 relative z-30"
            placeholder="Voer een zoekwoord in..." id="tags-search">
          <div class="absolute z-30 w-full">
            <ul class="bg-white shadow-lg">
            </ul>
          </div>
          {{ $t := where .Site.Taxonomies.reviews ".Page.Section" "testimonials2" }}
          <script>
            var input = document.getElementById("tags-search"),
              rlist = input.nextElementSibling.querySelector('ul'),
              tags = `{{ range $t }}{{ .Page.Title  }}{{ end }}`,
              arr = tags.replaceAll('"', ' ').trim();

            input.addEventListener("keyup", function (e) {
              var pat = new RegExp('\\w*' + e.target.value + '\\w*', 'gi'),
                result = arr.match(pat);
              rlist.innerHTML = ''
              if (input.value.length > 0) {
                result.forEach(e => {
                  var newli = document.createElement('li');
                  newli.innerHTML = '<a href="/reviews/' + e.toLowerCase() + '" class="p-4 hover:bg-grey-lightest block capitalize">' + e + '</a>';
                  rlist.appendChild(newli)
                })
              }
            });
          </script>
        </div>
      </div>
    </div>
    <div style="width: 2000px" class="mx-auto">
      {{ $pageVar := . }}
      {{ $cloudinary := .Site.Params.cloudinary_base_url }}
      {{$pg := .Site.GetPage "testimonials2"}}
      {{ $paginator := .Paginate $pg.Pages 60 }}
      {{ range $i, $item := $paginator.Pages -}}
      {{ $title := .Title }}
      <div
        class="md:flex items-center p-8 lg:p-0 {{ if not (modBool $i 2) }}bg-white text-grey-dark{{ else }}bg-grey-lightest{{- end }}">
        <div class="md:w-1/3">
          {{ with .Params.logo -}}
          <img data-src="{{ $cloudinary }}/w_auto,dpr_auto,f_auto,q_auto,h_500,c_limit/{{.}}"
            class="cld-responsive mx-auto" style="background: none;" alt="logo of {{$title}}" />
          {{ end -}}
        </div>
        <div class="w-2/3 p-12 xl:p-12">
          <h3 class="text-3xl mb-2">{{.Title}}</h3>
          <div class="text-lg lg:text-xl xl:text-2xl mb-4" style="width:800px">{{ $item.Content }}</div>
          {{ with $item.Params.link }}
          <a href="{{ .url }}" class="button">{{.text}}</a>
          {{ end }}
        </div>
      </div>
      {{ end -}}
    </div>
    {{ template "_internal/pagination.html" . -}}
  </div>
</article>
{{ end }}